<div class="nav-out">
  <div class="navbar">
    <div class="logo">
      <img src="../images/logo" alt="onno the image didnt load" />
    </div>
    <div class="links">
      <a class="nav-link" href="/">Home</a>
      <a class="nav-link" href="/about">About</a>
      <a class="nav-link" href="/users/logout">Logout</a>
    </div>
  </div>
</div>
<div class="dash-main">
  <div class="dash-main-div-heading">
    <h1>Dashboard</h1>
    <p>Welcome, <%= data.user.name %></p>
  </div>
  <div class="dash-row">
    <div class="dash-row-div">
      <a
        style="text-decoration: none; color: #333"
        href="/dashboard/transport "
      >
        <div class="dash-row-div-1">
          <img
            class="dash-img"
            src="../images/transport"
            alt="image didnt load"
          />
          <h2>Transport</h2>
        </div>
      </a>
    </div>
    <div class="dash-row-div">
      <a
        style="text-decoration: none; color: #333"
        href="/dashboard/vaccination "
      >
        <div class="dash-row-div-1">
          <img
            class="dash-img"
            src="../images/vaccination"
            alt="image didnt load"
          />
          <h2>Vaccination</h2>
        </div>
      </a>
    </div>
  </div>
  <div style="margin-bottom: 4rem" id="dash-row2" class="dash-row">
    <div class="dash-row-div">
      <a style="text-decoration: none; color: #333" href="/dashboard/schedule ">
        <div class="dash-row-div-1">
          <img
            class="dash-img"
            src="../images/notification"
            alt="image didnt load"
          />
          <h2>Notification</h2>
        </div>
      </a>
    </div>
    <div class="dash-row-div">
      <a style="text-decoration: none; color: #333" href="/dashboard/articles">
        <div class="dash-row-div-1">
          <img class="dash-img" src="../images/blog" alt="image didnt load" />
          <h2>Promotions</h2>
        </div>
      </a>
    </div>
  </div>
</div>
