<div class="nav-out">
  <div class="navbar">
    <div class="logo">
      <img src="../images/logo" alt="onno the image didnt load" />
    </div>
    <div class="links">
      <a class="nav-link" href="/">Home</a>
      <a class="nav-link" href="/about">About</a>
      <a class="nav-link" href="/users/logout">Logout</a>
    </div>
  </div>
</div>

<div class="left-nav">
  <div class="left-nav-div">
    <a href="/dashboard">Dashboard</a>
    <a id="page" href="/dashboard/transport">Transport</a>
    <a href="/dashboard/vaccination">Vaccination</a>
    <!-- <a href="/dashboard/contact">Contact</a> -->
    <a href="/dashboard/schedule">Notification</a>
    <a href="/dashboard/articles">Promotions</a>
  </div>
</div>

<div style="margin-bottom: 4rem" class="transport-main-div">
  <img class="transport-main-img" src="../images/map" alt="ono" />
  <form class="transport-main-form" action="">
    <input
      disabled
      class="transport-main-input"
      type="text"
      placeholder="Enter your location"
    />
    <input
      disabled
      class="transport-main-input"
      type="text"
      placeholder="Enter your destination"
    />
  </form>
</div>
