@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #f5f5f5;
}
.nav-out {
  padding: 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 2rem;
}

#page {
  font-weight: bold;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.logo img {
  height: 5rem;
  border-radius: 10px;
  margin-left: 2.5rem;
  cursor: pointer;
}

.scroll {
  background-color: #333;
  color: whitesmoke;
  transition-duration: 0.5s;
  z-index: 1;
}

.scroll .navbar .links a {
  color: whitesmoke;
}

.links {
  margin-right: 3rem;
  margin-top: auto;
  margin-bottom: auto;
}

.nav-link {
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin-left: 0.7rem;
  border-radius: 5px;
  font-size: 1.3rem;
  color: #333;
}

.nav-link:hover {
  transition-duration: 0.7s;
  background-color: #8dd1c6;
  color: whitesmoke;
}

/* Navbar over */

.main {
  display: flex;
  justify-content: space-around;
  /* margin-top: 2rem; */
  padding-top: 8rem;
}
/* 
.main-title {
  text-align: center;
  display: flex;
  align-self: center;
  flex-direction: column;
}

.main-title h1 {
  font-size: 3rem;
} */

.main-img {
  width: 85%;
}

.main2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* margin-top: 3rem; */
  cursor: pointer;
  text-decoration: none;
  color: #333;
  transition-duration: 1s;
}

.section-2-boxes h1 {
  margin-top: 8rem;
  margin-bottom: 3rem;
  text-align: center;
}

.first-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.first-row-box-1 {
  width: 25%;
  /* border: 1px solid black; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  margin-bottom: 8rem;
  border-radius: 10px;
}

.first-row-box-1-text {
  padding: 1rem;
  text-align: center;
}

.first-row-box-1 img {
  width: 100%;
  border-bottom: 1px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.horizontal-box {
  display: flex;
  background-color: #8dd1c6;
  color: #333;
}

.img-left-box img {
  height: 100%;
}

.img-right-box {
  padding: 3rem;
}

.img-right-box h1 {
  text-align: center;
}

.img-right-box p {
  margin-top: 2rem;
  font-size: 1.5rem;
  line-height: 1.7;
  font-weight: bold;
}

.test-box {
  border: 1px solid #8dd1c6;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
  padding-bottom: 2rem;
}

.testimonials-h1 {
  text-align: center;
  margin-bottom: 5.5rem;
  margin-top: 3rem;
}

.testi-img {
  height: 7rem;
  margin-top: -3.25rem;
  border-radius: 50%;
}

.textbox-out {
  display: flex;
  justify-content: center;
}

.customer-name {
  text-transform: uppercase;
  margin-left: -1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.next-btn,
.prev-btn {
  margin-top: 100%;
  cursor: pointer;
  border: 1px solid #8dd1c6;
  padding: 1rem 0.5rem;
  border-radius: 50%;
  outline: none;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: transparent;
}

.prev-btn:hover,
.next-btn:hover {
  transition-duration: 0.5s;
  background-color: #8dd1c6;
  color: whitesmoke;
}

.section-5-big-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
}

.fa-facebook,
.fa-twitter,
.fa-linkedin,
.fa-youtube {
  margin: 1rem;
  font-size: 1.4rem;
  cursor: pointer;
}

.fa-facebook:hover {
  color: #4267b2;
}
.fa-twitter:hover {
  color: #00acee;
}
.fa-linkedin:hover {
  color: #0077b5;
}
.fa-youtube:hover {
  color: #ff0000;
}

.section-5-big-div-right-div-h2 {
  text-align: center;
  font-size: 1.3rem;
  font-family: monospace;
}
.section-5-big-div-left-div-h2 {
  font-size: 1.8rem;
}

.section-5-big-div-left-div-p {
  font-size: 1rem;
}

.footer {
  margin-top: 5rem;
  background-color: #8dd1c6;
  color: white;
}
